DB_URL=jdbc:postgresql://localhost:5432/ensp_db
DB_USERNAME=ton_username
DB_PASSWORD=ton_password
MAIL_USERNAME=tonemail@gmail.com
MAIL_PASSWORD=ton_mot_de_passe_application
JWT_SECRET=une_cle_secrete_longue
JWT_EXPIRATION=86400000
UPLOAD_DIR=uploads/